# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL
    4. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciKit-Learn
3. Matlab
4. Pandas

| Data Science Tools |
|---|
|Kafka|
|Apache SparkSQL|
|MongoDb|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- SQL
- C++
- R

## Author
Mark Stephenson